.board {
    width: 315px;
    padding-left: 15px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-right: 5px solid black;

}
.board-item {
    outline: 1px solid grey;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.snake {
    background-color: gray;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
}

.snake-head {
    background-color: #000;
}

.head-black {
    background-color: #000;
}
.head-red {
    background-color: red;
}

.head-green {
    background-color: green;
}


.tetris {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    margin-top: 10vH;
    border: 3px solid black;
}

.score-board {
    font-family: 'GameBoy';
    text-align: left;
    font-size: 13px;
    width: 200px;
    padding-right: 15px;
    margin: 0 auto;
    margin-top: 10%;
    padding-left: 3px;
}

.menu {
    font-family: 'GameBoy';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.menu img {
    width: 50px;
    height: 50px;
}

.menu-item:hover {
    color:gray;
}


